= form_for @user do |f|
  - if @user.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        -for message in @user.errors.full_messages
          %li= message
  %p
    =f.label :email
    %br
    =f.email_field :email
  %p
    =f.label :password
    %br
    =f.password_field :password
  %p
    =f.label :password_confirmation
    %br
    =f.password_field :password_confirmation
  %p.button= f.submit @user.id.nil? ? "Sign Up!" : "Make Changes"