= form_for @game do |f|
  - if @game.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        -for message in @game.errors.full_messages
          %li= message
  %p
    =f.label :name
    %br
    =f.text_field :name
  %p
    =f.label :site
    %br
    =f.text_field :site
  %p
    =f.label :comm
    %br
    =f.text_field :comm
  %p.button= f.submit @game.id.nil? ? "Make Game!" : "Adjust Game!"